.movie-info{
        display: none;
}

#template{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.caption{
        margin:5px;
}

#template:hover .movie-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        width: 80%;
        height: 80%;
        top: 0;
        text-align: center;
        color: #fff;           
        }

#template:hover #picture{
        filter: brightness(15%);
        transition: background .2s linear, color .2s linear;
        -moz-transition: background .2s linear, color .2s linear;
        -webkit-transition: background .2s linear, color .2s linear;
        -o-transition: background .2s linear, color .2s linear;
}
