<link rel="stylesheet" href="../css/contacts.css">

<div class="contact-container">
	<div class="box-header">
		<h2>Contact us</h2>
		<h4>E-mail:</h4>
		<p>info@telerikacademy.com</p>
		<h4>Address:</h4>
		<p>Bulgaria, Sofia, bul. "Alexander Malinov" 31</p>
		<div id="map"></div>
	</div>

	<script src="../scripts/utils/mapUtil.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
</div>