<link rel="stylesheet" href="./css/empty-watchlist.css">

<div id="container">
	<img src="./img/movies-finder.png" class = "col-md-3 col-sm-4 col-xs-6" alt="movie-image">
	<div id = "description" class = "col-md-8 col-sm-8 col-xs-10">
		<h1>There aren`t any movies in your Watchlist.</h1>
        <a href="#/home/"><h2>Find your favourite movies in our catalog</h2></a>
	</div>
</div>