<link rel="stylesheet" href="../css/empty-watchlist.css">

<div id="container">
	<img src="../img/movies-finder.png" alt="movie-image">
	<div id = "description">
		<h1>There aren`t any movies in your Watchlist.</h1>
        <a href="#/home/"><h2>Find your favourite movies in our catalog</h2></a>
	</div>
</div>