{{#this}}
{{#ifThird @index}}<div class="row">{{/ifThird}}
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="{{picture}}" alt="picture">
            <div class="caption">
                <h3>{{name}}</h3>
                <p>{{description}}</p>
                <p>
                    <a href="#/movies-info/{{name}}" class="btn btn-primary" role="button">More Info</a>
                    <a href="#/watchlist" class="btn btn-default" role="button">Add to Watchlist</a>
                </p>
            </div>
        </div>
    </div>
{{#ifThirdLast @index}}</div>{{/ifThirdLast}}
{{#if @last}}</div>{{/if}}
{{/this}}
